Manuel Dstech, [13.09.19 14:57]
<dependency> <groupId>mysql</groupId> <artifactId>mysql-connector-java</artifactId>
<version>8.0.13</version> <!-- 5.1.6 --> </dependency>

Manuel Dstech, [13.09.19 15:04]
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>DualWelcome</title>



</head>

<body>




	<div class="starter-template">
		<h1>Premi il tasto</h1>

		<h2>Ciao</h2>
	</div>

	<div>

		<form th:action="@{/}" method="POST">
			<ul>
				<span th:each="i : ${continent}"> <!--nation: riceve dal model -->
					<input type="radio" name="continent" th:value="${i}" th:text="${i}"><br>
				</span>
			</ul>
			<input type="submit" value="vai">
	</div>



</body>
</html>